<form [formGroup]="recordForm">
  <div class="alert alert-success" role="alert" *ngIf="saved">
    Record saved successfully!
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" name="firstName" formControlName="firstName" placeholder="John" maxlength="60"
      required>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" name="lastName" formControlName="lastName" placeholder="Smith" maxlength="60"
      required>
  </div>
  <app-progress-bar [ngClass]="{invisible: !saving}"></app-progress-bar>
  <div id="action-buttons">
    <button type="button" class="btn btn-primary save" [disabled]="recordForm.invalid || saving" (click)="save()">Save</button>
    <button type="button" class="btn btn-primary cancel" [disabled]="saving" (click)="cancel()">Cancel</button>
  </div>
</form>
